@import "variables";
@import "mixins";
@import "global";
@import "navbar";
@import "buttons";
@import "intro";
@import "cta";
@import "about";
@import "products";
@import "store";
@import "footer";
@import "bootstrap-overrides";
.ttk img {
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    }
.ttk img:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    }