{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Esse Book Store</title>

<!-- Bootstrap core CSS -->
    <link href="../../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

<!-- Custom styles for this template -->
    <link href="../../static/css/business-casual.css" rel="stylesheet">

</head>

<body>

    <h1 class="site-heading text-center text-white d-none d-lg-block">
        <span class="site-heading-upper text-primary mb-3">Made by <a href="https://github.com/alexeevivan" target="_blank" style="color: #FF9D45FF"> Ivan Alexeev</a> for <a href="https://it-academy.by" target="_blank" style="color: #36A5DCFF">IT-Academy</a> as a project</span>
        <span>
            <a href="{% url 'base' %}">
                <img src="../../static/img/logo.png" style="width: 30%; height: 30%; margin-top: 2%">
            </a>
        </span>
    </h1>

<!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
        <div class="container">
            <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Esse Book Store</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item active px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="{% url 'base' %}">Main
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="{% url 'about' %}">About</a>
                    </li>
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="{% url 'library' %}">Library</a>
                    </li>
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="{% url 'pricing' %}">Pricing</a>
                    </li>
                </ul>
                <form class="form-inline" action="/action_page.php">
                    <input class="form-control mr-sm-1" type="text" placeholder="Keyword, author or ISBN ...">
                    <a href="#" class="btn btn-outline-light" type="button, submit">Search</a>
                </form>
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="{% url 'cart' %}">
                            <button class="btn btn-outline-light" style="width:150%; border-color:rgba(217, 158, 84); color:#D99E54FF;">
                                <span>Cart</span>
                            </button>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="bbb">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 mx-auto">
                    <div class="bbb-inner text-center rounded-1">
                        <span style="color:antiquewhite; text-transform: uppercase;">Order confirmation</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container-fluid">
        <hr>
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th scope="col">Name of Product</th>
                    <th scope="col">Product Image</th>
                    <th scope="col">Product Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total Cost</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart.products.all %}
                <tr>
                    <th scope="row">{{ item.content_object.title }}</th>
                    <td class="w-25"><img src="{{ item.content_object.image.url }}" class="img-fluid" style="width: 15%;"></td>
                    <td>{{ item.content_object.price }} USD</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.final_price }} USD</td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="2"></td>
                    <td>Total:</td>
                    <td>{{ cart.total_products }}</td>
                    <td>
                        <strong>{{ cart.final_price }} USD</strong>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <hr>
    <section class="bbb" style="padding-top: 1rem; padding-bottom: 1rem; background-color: rgba(47, 23, 15, 0.8);">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 mx-auto">
                    <div class="bbb-inner text-center rounded-1" style="position: relative; padding: .5rem; margin: .5rem; border-top-left-radius: 1rem; border-bottom-right-radius: 1rem; background-color: rgb(69, 46, 38, 0.8);">
                        <span style="color:antiquewhite; text-transform: uppercase;">Order Form</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <hr>
        <form action="{% url 'make_order' %}" method="POST">
            {% csrf_token %}
            <div class="row mb-3">
                <div class="form-group col">
                    {{ form.first_name|as_crispy_field }}
                </div>
                <div class="form-group col">
                    {{ form.last_name|as_crispy_field }}
                </div>
            </div>
            {{ form.address|as_crispy_field }}
            <div class="row mb-3">
                <div class="form-group col">
                    {{ form.phone|as_crispy_field }}
                </div>
                <div class="form-group col">
                    {{ form.purchase_type|as_crispy_field }}
                </div>
                <div class="form-group col">
                    {{ form.order_date|as_crispy_field }}
                </div>
            </div>
            {{ form.comment|as_crispy_field }}
            <input type="submit" class="btn btn-primary btn-block mb-3" values="Submit">
        </form>
    </div>


    <footer class="footer text-faded text-center py-5">
        <div class="container">
            <p class="m-0 small">Copyright &copy; Esse Book Store 2021</p>
        </div>
    </footer>

<!-- Bootstrap core JavaScript -->
    <script src="../../static/vendor/jquery/jquery.min.js"></script>
    <script src="../../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>