<table class="table table-borderless">
    <tbody>
        <tr>
            <td><i>Author</i></td>
            <td>{{ product.authorship }}</td>
        </tr>
        <tr>
            <td><i>Format</i></td>
            <td>{{ product.book_format }}</td>
        </tr>
        <tr>
            <td><i>Сovers the period of time</i></td>
            <td>{{ product.period }}</td>
        </tr>
        <tr>
            <td><i>Publisher</i></td>
            <td>{{ product.publisher }}</td>
        </tr>
        <tr>
            <td><i>Published</i></td>
            <td>{{ product.the_year_of_publishing }}</td>
        </tr>
        <tr>
            <td><i>Quantity of pages</i></td>
            <td>{{ product.book_dimensions }}</td>
        </tr>
        <tr>
            <td><i>Language</i></td>
            <td>{{ product.language }}</td>
        </tr>
        <tr>
            <td><i>Appropriate for ages</i></td>
            <td>{{ product.appropriate_for_ages }}</td>
        </tr>
        <tr>
            <td><i>International Standard Book Number</i></td>
            <td>{{ product.ISBN_13 }}</td>
        </tr>
    </tbody>
</table>