<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
        Esse Book Store
    </title>

<!-- Bootstrap core CSS -->
    <link href="../../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

<!-- Custom styles for this template -->
    <link href="../../static/css/business-casual.css" rel="stylesheet">

</head>

<body>

    <h1 class="site-heading text-center text-white d-none d-lg-block">
        <span class="site-heading-upper text-primary mb-3">Made by <a href="https://github.com/alexeevivan" target="_blank" style="color: #FF9D45FF"> Ivan Alexeev</a> for <a href="https://it-academy.by" target="_blank" style="color: #36A5DCFF">IT-Academy</a> as a project</span>
        <span>
            <a href="{% url 'base' %}">
                <img src="../../static/img/logo.png" style="width: 30%; height: 30%; margin-top: 2%">
            </a>
        </span>
    </h1>

<!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="{% url 'base' %}">
            Esse Book Store
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item px-lg-4 mb-auto mt-auto">
                    <a class="nav-link text-uppercase text-expanded" href="{% url 'base' %}">
                        Main
                    </a>
                </li>
                <li class="nav-item px-lg-4 mb-auto mt-auto">
                    <a class="nav-link text-uppercase text-expanded" href="{% url 'about' %}">
                        About
                    </a>
                </li>
                <li class="nav-item px-lg-4 mb-auto mt-auto">
                    <a class="nav-link text-uppercase text-expanded" href="{% url 'library' %}">
                        Library
                    </a>
                </li>
                <li class="nav-item active px-lg-4 mb-auto mt-auto">
                    <a class="nav-link text-uppercase text-expanded" href="{% url 'pricing' %}">
                        Pricing
                    </a>
                </li>
                <input class="form-control px-lg-4 mb-auto mt-auto" style="width: 17em;" type="search" placeholder="Keyword, author or ISBN ..." aria-label="Search">
                <ul class="navbar-nav px-lg-4 mb-auto mt-auto">
                    <li class="nav-item">
                        <a class="nav-link text-uppercase text-expanded" href="#">
                            <button class="btn btn-outline-light" style="border-color:rgba(217, 158, 84); color:#D99E54FF;">
                                <span>
                                    Search
                                </span>
                            </button>
                        </a>
                    </li>
                </ul>
                {% if not request.user.is_authenticated %}
                    <li class="nav-item px-lg-4 mb-auto mt-auto">
                        <a class="nav-link" href="{% url 'login' %}">
                            LOGIN
                        </a>
                    </li>
                    <li class="nav-item px-lg-4 mb-auto mt-auto">
                        <a class="nav-link" href="{% url 'registration' %}">
                            NEW TO ESSE?
                        </a>
                    </li>
                {% endif %}
                <li class="nav-item" style="marker: none;">
                    {% if request.user.is_authenticated %}
                        <li class="navbar text text-light">
                            <a class="nav-link text-uppercase text-expanded" href="#">
                                {{ request.user.username }}
                            </a>
                        </li>
                        <li class="nav-item px-lg-4 mb-auto mt-auto">
                            <a class="nav-link text-uppercase text-expanded" href="{% url 'logout' %}">
                                <button class="btn btn-outline-light" style="border-color:rgba(217, 158, 84); color:#D99E54FF;">
                                    Log Out
                                </button>
                            </a>
                        </li>
                    {% endif %}
                </li>
                <ul class="navbar-nav px-lg-4 mb-auto mt-auto">
                    <li class="nav-item">
                        <a class="nav-link text-uppercase text-expanded" href="{% url 'cart' %}">
                            <button class="btn btn-outline-light" style="border-color:rgba(217, 158, 84); color:#D99E54FF;">
                                <span>
                                    Cart
                                </span>
                            </button>
                        </a>
                    </li>
                </ul>
            </ul>
        </div>
    </nav>

    <section class="page-section cta">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <div class="cta-inner text-center rounded" style="background-color: rgba(173, 74, 121, 0.23);">
                        <h2 class="section-heading mb-5">
                            <span class="section-heading-upper">
                                We're happy to introduce our
                            </span>
                            <span class="section-heading-lower">
                                Promotions
                            </span>
                        </h2>
                        <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                            <li class="list-unstyled-item list-hours-item d-flex">
                                Sunday
                                <span class="ml-auto">
                                    30% discount on packaging
                                </span>
                            </li>
                            <li class="list-unstyled-item list-hours-item d-flex">
                                Monday
                                <span class="ml-auto">
                                    Free worldwide shipping
                                </span>
                            </li>
                            <li class="list-unstyled-item list-hours-item d-flex">
                                Tuesday
                                <span class="ml-auto">
                                    Free worldwide shipping
                                </span>
                            </li>
                            <li class="list-unstyled-item list-hours-item d-flex">
                                Wednesday
                                <span class="ml-auto">
                                    Free worldwide shipping
                                </span>
                            </li>
                            <li class="list-unstyled-item list-hours-item d-flex">
                                Thursday
                                <span class="ml-auto">
                                    10% discount on books
                                </span>
                            </li>
                            <li class="list-unstyled-item list-hours-item d-flex">
                                Friday
                                <span class="ml-auto">
                                    3 + 1
                                </span>
                            </li>
                            <li class="list-unstyled-item list-hours-item d-flex">
                                Saturday
                                <span class="ml-auto">
                                    + 4% on ur ESSE-CLUB card
                                </span>
                            </li>
                        </ul>
                        <p class="address mb-5">
                            <em>
                                <strong>
                                    7792 Main Street
                                </strong>
                                <br>Golden Valley, Minsk
                            </em>
                        </p>
                        <p class="mb-0">
                            <small>
                                <em>
                                    Call Anytime
                                </em>
                            </small>
                            <br>
                                +375 (44) 750-60-08
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer text-faded text-center py-5">
        <div class="container">
            <p class="m-0 small">
                Copyright &copy; Esse Book Store 2021
            </p>
        </div>
    </footer>
  
<!-- Bootstrap core JavaScript -->
    <script src="../../static/vendor/jquery/jquery.min.js"></script>
    <script src="../../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- Script to highlight the active date in the hours list -->
    <script>$('.list-hours li').eq(new Date().getDay()).addClass('today');</script>

</body>

</html>
